@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

$black: #393238;
$main: #e036b9;
$secondary: #9d2ded;
$gradient: -webkit-linear-gradient(135deg, #e036b9 0%, #9d2ded 100%);

.body {
  .banner {
    background-color: $black;
    padding-inline: 5px;
    .text {
      background: $gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;

      font-family: Manrope;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .close {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .hero {
    height: 250px;
    background: $gradient;

    .container {
      width: 100%;
      max-width: 1440px;
      height: 100%;
      margin: 0 auto;
    }
  }

  .content {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 100px auto;

    .container {
      display: flex;
      justify-content: space-between;
    }
  }

  .waves {
    display: flex;
    flex-direction: column;
    .container11 {
      background: $gradient;
      transform: rotate(180deg);
      height: 200px;
    }
    .wave-top {
      position: relative;
      bottom: -2px;
      min-height: 20px;
    }
    .wave-left {
      position: relative;
      top: -2px;
      min-height: 40px;
    }
  }
}
