@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

$black: #393238;
$main: #e036b9;
$secondary: #9d2ded;
$gradient: -webkit-linear-gradient(135deg, #e036b9 0%, #9d2ded 100%);

.body {
  .banner {
    width: 100%;
    height: 50px;
    background: $black;
  }

  .hero {
    width: 100%;
    height: 250px;
    background: $gradient;
  }

  .section {
    margin-top: 50px;
    background: gray;
    height: 350px;
  }

  .waves {
    margin-top: 50px;
    background: gray;
    height: 300px;
  }
}
